.image {
    background-image: url('./layout5.1.png');
    color:white;
    background-repeat:no-repeat;
    background-color:transparent;
    height:200vh;
    width:auto;
    background-size:cover;
}
